/* logo */
body:after {
  content: url(../images/Faculty-of-Psychology-and-Sports-Science_rgb.jpg);
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  box-shadow: 5px 5px 10px #0;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Noto Sans", sans-serif;
}

/* #sec-title-slide hr{ */
/*   border: none; */
/*   border-top: 5px solid; */
/*   color: #063d75; */
/* } */

#slide-hi h2{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#slide-hi p{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* text-shadow: 0 0 3px #8C3250, 0 0 5px #8C3250; */
}

#slide-ty h3{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#slide-ty p{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* text-shadow: 0 0 3px #8C3250, 0 0 5px #8C3250; */
}

/* small font on bibliography slide */
#slide-references p{
  font-size: medium;
  text-align: left;
}
#slide-references li{
  font-size: small;
}

#slide-res-general p{
  font-size: medium;
}
#slide-res-consistency p{
  font-size: medium;
}

#slide-res-density p{
  font-size: medium;
}

#slide-res-pedestrians p{
  font-size: medium;
}
/* figure caption */
.figure {
  font-size: small;
  /* color: #d8dadc; */
  color: #8C3250;
}

/* .figure-number { */
/*    display: block;  */
/*  } */

/* footer */
.slide-footer {
  /* border-top: 1px solid #d8dadc; */
  border-top: 1px solid #8C3250;
  text-align: right;
  font-size: small;
  /* color: #d8dadc; */
  color: #8C3250;
}

blockquote {
  border-left: 5px solid;
  border-color:  #8C3250;
}

/* corporate design for control elements */
/* :root{ */
/*   --selection-background-color: #d8dadc; */
/* } */

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #8C3250;
  height: 1%;
}

.reveal .controls-arrow {
  color: #8C3250;
}

.reveal a {
  color: #8C3250;
}

.reveal a:hover {
  /* color: #d8dadc; */
  color: #8C3250;
  text-decoration-line: underline;
}
