<style type="text/css">

div.my-header {
    background-color: #F77A00;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffb76b), color-stop(0%,#ffa73d), color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(25%,#F77A00), color-stop(100%,#F77A00));
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
}

div.my-footer {
    border-top: 1px solid #ccc;
    font-size: 10pt;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
}

div.my-footer p {
    margin-top: 10px;
    height: 30px;
}

div.my-footer img {
    height: 30px;
    bottom: 0px;
    left: 0px;
    position: fixed;
}

.shrink-font {
    font-size: 10px;
    padding: 1em 4em 1em 4em;
}


</style>

